/* Criando contorno/base do menu */ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    font-size: 20px;
}

/* Setando cor padrão (sem passar mouse) */
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Mudando cor (passando mouse por cima) */ 
li a:hover {
    background-color: #555;
    color: white;
}

/* Alinhando com a barra de navegação */
h1 {
    position: fixed;
    margin-left: 225px;
    top: 0;
   /* width: 100%; */
}
main {
    margin-left: 225px;
    font-size: 20px;
}

/* Roda pé fixo e no centro do bottom da tela */
footer {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #555;
    align-items: center;
    justify-content: space-between;
}

footer div {
    display: inline-block;
    margin: 0 10px;
}

